*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.navbar{
    background-color: rgb(255, 106, 106);
}
.navbar h1{
    padding: 20px;   
}
.container{
    padding: 20px;      
}
.container-box{
    overflow-wrap: break-word;
    background-color: black;
    color: white;
    width:25%;
    padding:20px;
    font-size: 18px;
    border-radius:10px;
    display:inline-block;
    margin:30px;
    vertical-align:top;  
}
.container-box h2{
    color:  rgb(255, 106, 106);
    margin-top:1px;
}
.container-box h5,p{
    margin-top:10px;    
}
.container-box button{
    background-color:  rgb(255, 106, 106);
    color: black;
    margin-top: 20px;
    border: none;
    font-size:15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.container-box button:hover{
    
    background-color: white;
    color: rgb(255, 106, 106);
    box-shadow: 2px 2px 3px;
}
#addbtn{
    padding-left: 20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 30px;
    border: none;
    background-color : rgb(255, 106, 106);
    border-radius: 100%;
    position: fixed;
    right:30px;
    bottom: 20px;
    
}
#addbtn:hover{
    
    background-color: white;
    border: rgb(255, 106, 106) solid 2px;
    color: rgb(255, 106, 106);
  
}
#overlay{
    background-color: black;
    width:100%;
    height:100%;
    position:absolute;
    opacity:40%;
    top:0;
    z-index: 1;
    display: none;
    
}
#popupbox{
    background-color: rgb(255, 106, 106);
    width: 40%;
    position: absolute;
    z-index:2;
    top:20%;
    left:26%;
    padding:40px;
    border-radius: 20px;
    display: none;
    
}
#popupbox input{
    width: 100%;
    margin-top:30px;
    padding: 5px;
    display:block;
    background: transparent;
    border: none;
    border-bottom: black solid 2px;
    font-size: 20px;
   
}
#popupbox input::placeholder{
   color: black;
}
#popupbox textarea::placeholder{
    color: black;
 }
#popupbox input:focus{
    outline: none;
}
#popupbox textarea:focus{
    outline: none;
}
#popupbox textarea{
    width: 100%;
    margin-top:35px;
    display:block;
    background: transparent;
    border: black solid 2px;
    font-size: 20px;
}
#popupbox button{
    margin-top: 30px;
    font-size: 20px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
}
#popupbox button:hover{
    background-color: white;
    color: black;
}
#cancel-box{
    margin-left: 30px;
}
.copyrights{
    color: gray;
    font-size: 10px;
    position: fixed;
    left:39%;   
    bottom:2px;
}